body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Kiwi Maru', serif;

}
/**header**/
#header-nav {
	background-color: #e8d4b3;
	border-radius: 0;
	border: 0;
}
/*navbar-brand*/
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1 { /*Restaurant name*/
font-family: 'Averia Serif Libre', cursive;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.icon-bar{
	color: #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;

}
/*Our Menu*/
#main-content a {
	text-decoration: none;
}
#xs-chicken {
	border:2px solid white;
	background-color: black;
	margin-bottom: 5px;
}
#xs-beef {
	border:2px solid white;
	background-color: black;
	margin-bottom: 5px;
}
#xs-sushi {
	border:2px solid white;
	background-color: black;
	margin-bottom: 5px;
	}

.sectiontxt h3 {
	padding: 5px 0px 15px 0px ;
	margin: 10px 0px 0px 0px ;
}

div.sectiontxt{
	margin: 10px;
	background: #006080;
	color: #e6f9ff;
	padding: 15px;
}

.sectiontxt a {
	color: #ffcc00;
}

.sectiontxt a:hover {
	color: #ff9900;
}

/** #################################################################### **/
/** ============= Media queries ===================== **/

/********** Large devices only **********/
@media (min-width: 1200px) {
.navbar-brand h1 {font-size: 1.8em;}
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) { 
.navbar-brand h1 {font-size: 1.6em;}
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) { 
.navbar-brand h1 {font-size: 1.4em;}
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
}

/********** Extra small devices only **********/
@media (max-width: 767px) { 
.navbar-brand h1 {font-size: 1.3em;} 
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
}